body{
    margin:0%;
    padding:0%;
    }
.headline{
    background-color:  brown;
}
img{
    height: 50px;
    width: 50px;
}  
 
.chai{
    margin-top:10px;
    text-align: center;
    scroll-behavior:smooth;
    margin-left:65px;
    height: 400px;
}




 

